<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.yi.system.dao.ProjectDao">
	
	<select id="selectListByAll" resultType="Project">
		select * from project
	</select>
	
	<select id="selectByNo" resultType="Project">
		select * from project where serial_number = #{serialNumber}
	</select>
	
	<insert id="addProject">
		insert into project(project_name, content, start_date, end_date, current_state) values(#{projectName},#{content},#{startDate},#{endDate},#{currentState})
	</insert>
	
	<update id="updateProject">
		update project set project_name=#{projectName}, content=#{content}, start_date=#{startDate}, end_date=#{endDate}, current_state=#{currentState} where serial_number=#{serialNumber}
	</update>
	
	<delete id="deleteProject">
		delete from project where serial_number=#{serialNumber}
	</delete>
</mapper>






